* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  /* width: 600px; */
  width: 100%;
  border:3px solid blue;
  display: flex;
  /*justify-content es para alinear de forma horizontal, center,space-between, space-around, space-evenly */
  justify-content: space-evenly;
  /* align-items, alinea de forma vertical, flex-start, center, flex-end */
  align-items: center;
  /* flex-wrap */
  /* flex-wrap: wrap; */
  /* align-content solamente funciona con wrap y si hay multiples lineas */
  /* align-content: center; */
  /* brecha */
  /* gap: 10px; */
  /* para shrink y grow tenemos que tener un nowrap */
}

.caja {
  width: 100px;
  height: 100px;
  border:3px solid red;
  font-size: 30px;
  font-family: Arial;
}

.caja:nth-of-type(1) {
  flex-grow: 1;
}

.caja:nth-of-type(2) {
  flex-grow: 3;
}

.caja:nth-of-type(3) {
  flex-shrink: 4;
}

.caja:nth-of-type(4) {
  flex-shrink: 2;
}