* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  width: 600px;
  border:3px solid blue;
  display: flex;
  /*justify-content es para alinear de forma horizontal, center,space-between, space-around, space-evenly */
  justify-content: space-evenly;
  /* align-items, alinea de forma vertical */
  align-items: flex-end;
  /* brecha */
  /* gap: 10px; */
}

.caja {
  width: 100px;
  height: 100px;
  border:3px solid red;
  font-size: 30px;
  font-family: Arial;
}