* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  padding:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color:red;
}

/* medio-dispositivo: screen, tv, print */

/* @media <medio-dispositivo> and (<breakpoint-condicional>) {
  selector {
  aplicando propiedades que se van a agregar o van a reemplazar a las ya definidas
}*/ 

@media screen and (width >= 992px) {
  header {
    color:blue;
    font-size: 36px;
    border: 2px solid red;
  }

  p {
    font-size: 24px;
  }
}

@media (width <= 400px){
  header {
    color: green;
    background-color: aqua;
  }

  span {
    text-decoration: underline;
  }
}