* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.contenedor {
  border:3px solid red;
  width: 300px;
  height: 1300px;
  margin: 30px;
  position: relative;
}
.caja {
  width: 100px;
  height: 100px;
  background-color: steelblue;
  /* position:relative;
  top:20px;
  left: 50px; */
}
.caja-absolute {
  width: 120px;
  height: 120px;
  background-color: orangered;
  position: absolute;
  top: 50px;
  left: 70px;
}
.caja-extra{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  /* va a tomar en cuenta si o si la ventana del navegador */
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.caja-superior {
  width: 100px;
  height: 100px;
  background-color: gold;
  position: sticky;
  top:20px;
}

