* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.grilla {
  background-color: lightblue;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  /* grid-template-rows: 300px 300px 300px; */
  grid-template-rows: repeat(3, 200px);

  gap:20px;
}

.item {
  background-color: coral;
  border:2px solid red;
}

.item:nth-of-type(1) {
  background-color: red;
  /* cuando definimos los espacios que va a tomar si indicamos -1 siempre ira al final */
  /* grid-column: 1 / -1; */
  /* grid-column y grid-row: #inicial / #final */
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}