/* selector universal */
* {
  font-style: italic;
}

/* selector de etiqueta/elemento */
h1 {
  color: aquamarine;
  background-color: steelblue;
}

p {
  font-weight: bold;
  background-color: green;
}

/* selector clase, se utiliza .nombre_clase para referenciarlas */
.secundario {
  color: gray;
}

.azul {
  background-color: lightblue;
}

/* selector de id, se utiliza #nombre_id para referenciarlo */
#unico {
  font-size: 36px;
  color: red;
}

.mensaje {
  text-decoration: underline;
  color: purple;
}