/* selector universal */
* {
  font-style: italic;
}

/* selector de etiqueta/elemento */
h1 {
  color: aquamarine;
  background-color: steelblue;
}

p {
  font-weight: bold;
  background-color: green;
}

/* selector clase, se utiliza .nombre_clase para referenciarlas */
.secundario {
  color: gray;
}

.azul {
  background-color: lightblue;
}

/* selector de id, se utiliza #nombre_id para referenciarlo */
#unico {
  font-size: 36px;
  color: red;
}

.mensaje {
  text-decoration: underline;
  color: purple;
}

/* -- Operadores --- */
/* cuando hay un espacio entre 2 selectores, estamos haciendo referencia a todos los hijos del primer selector */
/* todos los li que sean hijos de un ul */
ul li{
  color: mediumspringgreen;
}

/* afecta a los 1eros hijos del selector previo */
/* los li que sean hijos inmediatos de un ul */
ul > li {
  font-weight: bold;
  color: darkgreen;
}

/* la , es un Y entre elementos */
/* todos los span Y los small van a aplicar estas propiedades */
span, small, h2 {
  border: 2px solid red;
}