* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

header {
  /* padding: 96px; */
  /* padding-top: 96px;
  padding-bottom: 96px; */
  /* cuando podemos 2 valores para padding o margin el 1er sera para arriba-abajo y el 2do para los costados */
  padding:96px 0;
}

.contenedor {
  max-width: 1280px;
  margin: 0 auto;
}

.texto-centrado {
  text-align: center;
}

small {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

h1 {
  margin:0 0 32px 0;
  font-family: "Fraunces", serif;
  font-weight: 300;
  font-size:72px;
}

p {
  margin-bottom: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  color: gray;
}

.caja-btn{
  max-width: 200px;
  margin:0 auto;
}

img {
  max-width: 100%;
}