* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temp */
  border:2px solid gray;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.contenedor {
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}