* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* temp */
  /* border:2px solid gray; */
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.contenedor {
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding:42px 88px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  font-size:32px;
  font-weight: 900;
}

.btn {
  padding: 15px 20px;
  border-radius:30px;
  cursor: pointer;
}

.btn-sm {
  padding: 8px 15px;
}

.btn-white {
  border: 2px solid black;
  color: black;
}

.btn-dark {
  border: 2px solid black;
  color: white;
  background-color: black;
}

/* header */
.cabecera {
  display: flex;
  flex-direction: column;
  gap:20px;
  text-align: center;
  align-items: center;
}

.oferta {
  font-size: 12px;
  background-color:lightgray;
  width: 100px;
  border-radius: 10px;
  padding:5px 10px;
}

.main-slogan {
  font-weight: 300;
  font-size: 72px;
}

.text-marketing {
  color:gray;
  font-size:20px;
  margin-bottom: 48px;
}

.call-to-action {
  display: flex;
  gap:10px;
  margin-bottom: 48px;
}

.img-header {
  width: 100%;
  margin-bottom:96px;
}

/* questions */

.questions {
  height: 500px;
  display: flex;
  margin-bottom: 96px;
}

.question-orange {
  border-top: 4px solid orangered;
  padding-top: 24px;
}

.question-orange i {
  color: orangered;
  margin: 20px 0 30px 0;
}

.question-title {
  font-size:52px;
  font-weight:300;
}

.question-blue {
  border-top: 4px solid steelblue;
  padding-top: 24px;
  align-self: flex-end;
  padding-bottom:48px;
}

.question-blue i {
  color: steelblue;
  margin: 20px 0 30px 0;
}

/* table */
.data {
  padding:36px;
}

.title-data {
  font-size:48px;
  font-weight: 300;
  margin-bottom:20px;
}

.table {
  width:100%;
  border-collapse: collapse;
}
.table td {
  padding:16px;
}
.table tr:nth-of-type(odd) td{
  background-color: gold;
}

.table tr:nth-of-type(odd) td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tr:nth-of-type(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* resources */

.resources-title {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 48px;
}

.resources-container {
  display: flex;
  justify-content: space-between;
  gap:30px;
}

.resource-box {
  max-width: 348px;
  display: flex;
  flex-direction: column;
  gap:24px;
  text-align: center;
  align-items: center;
}

.resource-box img {
  height: 225px;
  aspect-ratio: auto;
}

.resource-box:nth-of-type(2) img {
  width: 278px;
}

.resource-box:nth-of-type(3) img {
  width:225px;
}

@media (width <= 480px) {
  .main-slogan {
    font-size: 42px;
  }

  .text-marketing {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 24px;
  }

  .call-to-action {
    margin-bottom: 24px;
  }

  .questions {
    flex-direction: column;
    padding: 0 20px;
    gap:30px;
  }

  .question-title {
    font-size: 36px;
  }

  .data {
    width:100%;
    /* border:2px solid gray; */
    /* overflow es una propiedad que indica como se va a manejar el contenido que desborda a un elemento, se le puede añadir -x -y para indicar el eje */
    overflow-x: scroll;
  }

  .data .table {
    /* simular que tenemos más datos más contenido */
    width: 700px;
  }

  .resources-container {
    flex-direction: column;
  }

  .resource-box {
    width:100%;
  }
}